@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Cadastro</h1>
    <p>Contatos: <a href="https://www.instagram.com/unknown_profile369/">Instagran</a>.</p>
</div>
<hr />

<div class="text-center">
    <p>
        Projeto Criado apenas para fins de estudo.
    </p>
</div>

